*

!*.nix
!/.gitignore

!/.zshrc
!/.Xdefaults
!/.Xresources
!/.xinitrc
!/.config

!/assets
!/assets/wallpaper.jpg

!/.config/dircolors

!/.config/xmodmap

!/.config/environment.d
!/.config/environment.d/profile.conf
!/.config/environment.d/drone.conf
!/.config/environment.d/restic.conf

!/.config/user-dirs.dirs
!/.config/user-dirs.locale

!/.config/gtk-2.0
!/.config/gtk-2.0/gtkrc

!/.config/gtk-3.0
!/.config/gtk-3.0/settings.ini

!/.config/xsettingsd
!/.config/xsettingsd/xsettingsd.conf

!/.config/mako
!/.config/mako/config

!/.config/alacritty
!/.config/alacritty/alacritty.yml

!/.config/git
!/.config/git/config

!/.config/vifm
!/.config/vifm/vifmrc
!/.config/vifm/scripts
!/.config/vifm/colors
!/.config/vifm/colors/base16.vifm

!/.config/nvim
!/.config/nvim/init.vim
!/.config/nvim/clipboard.vim
!/.config/nvim/lsp.vim
!/.config/nvim/quickfixopenall.vim
!/.config/nvim/ui.vim

!/.config/mimeapps.list

!/.config/libinput-gestures.conf

!/.config/sway
!/.config/sway/config
!/.config/sway/config.d
!/.config/sway/config.d/applications.conf
!/.config/sway/config.d/autostart.conf
!/.config/sway/config.d/colorscheme.conf
!/.config/sway/config.d/custom-keybindings.conf
!/.config/sway/config.d/gaps.conf
!/.config/sway/config.d/input-defaults.conf
!/.config/sway/config.d/systemd.conf
!/.config/sway/config.d/theme.conf
!/.config/sway/config.d/biolimo
!/.config/sway/config.d/biolimo/screens.conf
!/.config/sway/config.d/biolimo/inputs.conf
!/.config/sway/config.d/chocolatebar
!/.config/sway/config.d/chocolatebar/screens.conf

!/.config/waybar
!/.config/waybar/colorscheme.css
!/.config/waybar/config
!/.config/waybar/style.css

!/.config/mutt
!/.config/mutt/muttrc
!/.config/mutt/base16.muttrc
!/.config/mutt/mailcap

!/.config/offlineimap
!/.config/offlineimap/functions.py

!/.local
!/.local/bin
!/.local/bin/install-base
!/.local/bin/swaylock-bg
!/.local/bin/sway-launcher
!/.local/bin/sway-service
!/.local/bin/toggle-kbd-layout
!/.local/bin/wcwd
!/.local/bin/vifmrun
!/.local/bin/vifmimg
!/.local/bin/s
!/.local/bin/windows
!/.local/bin/import-gtk-settings
!/.local/bin/mailto-mutt
!/.local/bin/setup-host-conf
!/.local/bin/steam-xdg

!/.local/share
!/.local/share/applications
!/.local/share/applications/userapp-Firefox.desktop
